# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Database
data/uploads/*
!data/uploads/.gitkeep
data/chroma/*
!data/chroma/.gitkeep
*.db
*.sqlite3

# Environment Variables
.env

# Node / React
node_modules/
dist/
.eslintcache
frontend/node_modules/
frontend/dist/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
